<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon (click)="sidenav.open()">menu</mat-icon>
        </button>
        <span>Restaurante</span>
    </mat-toolbar>


    <mat-sidenav #sidenav>
        <p><button mat-icon-button aria-label="icon" (click)="sidenav.close()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button></p>
        <p><button mat-button color="primary" (click)="openPedidoDialog()">Novo Pedido</button></p>
        <p><button mat-button color="secondary" routerLink="/pedido/detalharTodos" routerLinkActive="active"> Listar
                Pedidos </button></p>
        <p><button mat-button color="secondary" (click)="openFecharPedidoDialog()"> Fechar Contas </button></p>

    </mat-sidenav>

    <router-outlet></router-outlet>
</div>