<h1 mat-dialog-title>
    Fechar Conta
</h1>

<div mat-dialog-content>

    <div class="row">
        <mat-form-field appearence="fill" style="width: 100% !important; height: 100px !important;">
            <mat-label>Selecione a mesa</mat-label>
            <mat-select [(ngModel)]="mesaNumber">
                <mat-option *ngFor="let mesa of mesasList" [value]="mesa">
                    {{mesa}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row" *ngIf="tableClosed">
        {{aviso}}
        <br>
        Valor total: {{data.valorTotal | money}}
    </div>

</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" style="margin-left: 15px !important;"
        (click)="fecharPedidos()">Confirmar</button>
    <button mat-raised-button color="secondary" (click)="closeModal()">Cancelar</button>
</div>